.hide {
    display: none;
}

#todayCard {
    
    background-image: url("http://openweathermap.org/img/wn/01n@4x.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}